{
	"firstname": "John",
	"lastname": "Doe",
	"mvid": "123456789",
	"birth": "YYYY/MM/DD",
	"email": "email@example.com",
	"phone": "+17801234567",
	"test": "Class 5 (Basic|Advanced) Road Test",
	"radius": "10 | 25 | 50 | 100"
}